<div>
  <h2>Please enter Good info:</h2>
  <div>
    <md-input-container>
      <input mdInput [(ngModel)]="good.name" placeholder="Good Name" />
    </md-input-container>
  </div>
  <button md-button color="primary" (click)="addBuyer()"
          *ngIf="party.members.length!==0&&good.buyers.length<party.members.length">Add Buyer
  </button>
  <h3>Buyers:</h3>
  <div class="buyers-list">
    <div *ngFor="let buyer of buyerMembers" class="buyer-item">
      <div>User: {{buyer.nameFirst}}, {{buyer.nameLast}} ({{buyer.totalPrice}}$)</div>
      <a md-button color="primary" (click)="deleteBuyer(buyer)" class="icon-button">
        <i class="material-icons">delete forever</i>
      </a>
    </div>
  </div>
  <div class="actions">
    <a md-button color="primary" [routerLink]="['/party',party.id,'goods']">Cancel</a>
    <button md-button color="primary" (click)="save()">Save</button>
  </div>
</div>
