<div>
  <div class="actions-container">
    <a md-button *ngIf="party.id!==undefined" color="primary"
       [routerLink]="['/party',party.id,'member']"
       class="add-item-button">Add a member</a>
  </div>
  <div class="list-container">
    <div class="list" *ngFor="let user of party.members">
      <a [routerLink]="['/party',party.id,'member',user.id]">
        <md-card class="user-item">
          <md-card-title>User:</md-card-title>
          <md-card-subtitle></md-card-subtitle>
          <md-card-content>
            <img md-card-avatar src="assets/beer.png"/>
            <span>{{user.nameFirst}}</span>,
            <span>{{user.nameLast}}</span>
          </md-card-content>
        </md-card>
      </a>
    </div>
  </div>
</div>
