<div class="actions-container">
  <a md-button *ngIf="party.id!==undefined" color="primary" [routerLink]="['/party',party.id,'good']"
     class="add-item-button">Add goods</a>
</div>
<div class="list-container">
  <div class="list" *ngFor="let good of party.goods">
    <a [routerLink]="['/party',party.id,'good', good.id]">
      <md-card class="good-item">
        <md-card-title>Good:</md-card-title>
        <md-card-subtitle></md-card-subtitle>
        <md-card-content>
          <img md-card-avatar src="assets/beer.png"/>
          <span>{{good.name}}</span>
        </md-card-content>
      </md-card>
    </a>
  </div>
</div>
