<div class="party-detail-component">
  <a md-button color="primary" [routerLink]="['/dashboard']">Go back</a>
  <h2>
    Party: {{party.name}}
    <a [routerLink]="['/party',party.id,'edit']" class="">(Edit)</a>
  </h2>

  <nav md-tab-nav-bar class="party-tabs">
    <a md-tab-link
       *ngFor="let link of navLinks"
       [routerLink]="link.state"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{link.label}}
    </a>
  </nav>

  <router-outlet></router-outlet>
</div>
