<nav class="dashboard-container">
  <a md-button class="create-party-button" color="primary" [routerLink]="['/party']">Create a party</a>
  <div class="party-list-item-container">
    <div class="party-list-item" *ngFor="let party of parties">

      <md-card class="party-item">
        <a md-button color="primary" (click)="deleteParty(party)" class="pull-right icon-button">
          <i class="material-icons">delete forever</i>
        </a>
        <a [routerLink]="['/party',party.id,'members']" class="">
          <md-card-title>Party:</md-card-title>
          <md-card-subtitle></md-card-subtitle>
          <md-card-content>
            <img md-card-avatar src="assets/beer.png"/>
            <span>{{party.name}}</span>
          </md-card-content>
        </a>
      </md-card>

    </div>
  </div>
</nav>
